body {
	margin: 10px;
	border: 1px solid gray;
}

hr {
  border: 1px solid black;
  width: 99%;
}

h1{
    margin-left: 10px;
    margin-top: 50px;
}

legend{
    margin-left: 10px;
}

table{
    margin-left: 10px;
}
footer{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 5px;
}

.register-link {
    margin-left: 15px;
}